GLITCH_DEBUGGER=true
# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with process.env.SECRET
SECRET=
MADE_WITH=
MONGO_URI='mongodb+srv://nondasbolis:nondasbolis76@cluster0.w275k.mongodb.net/test?retryWrites=true&w=majority&appName=Cluster0'